body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.mheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 35px;
  position: -webkit-sticky;
  /* For Safari */
  position: sticky;
  top: 0;
  
}


.logo img {
  height: 40px;
}

.name {
  flex: 1;
  text-align: center;
}



.curtain-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
}

.curtain-menu.open {
  left: 0;
}

.menu-content {
  /* blank*/
  
  
}

.menu-button {
  background-color: #39FFB8;
  display: block;
  padding: 0px 5px 0px 5px;
  color: #FF0000;
  font-weight: 200;
  font-size: 25px;
  
  text-decoration: none;
  border: 1px solid #42445A;
  
}

.inner-button {
  
  background-color: #39FFB8;
  display: block;
  
  color: #FF0000;
  font-weight: 200;
  font-size: 25px;
  margin-left: 50%;
  
  text-decoration: none;
  border: 1px solid #42445A;
}



.div {
  display: flex;
  align-items: center;
  
  flex-direction: row;
  /* Centers items vertically */
}



.q {
  list-style-type: none;
}




.w {
  display: block;
  text-decoration: none;
  color: green;
  font-weight: 1000;
  
  
}


.chat-data {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 400px;
  margin: 10px;
  border-radius: 10px;
  background-color: #1CADFF;
}





#chat-container {
  block-size: 450px;
  display: flex;
  flex-direction: column;
  
  margin: 3.5%;
  border: 0.5px solid #05FFFF;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #3F3F46;
  overflow: auto;
}

#header {
  
  
  display: flex;
  justify-content: center;
  color: #FAFDF8;
  padding: 15px;
  border-radius: 0px 0px 15px 15px;
  margin: 0px 0px 0px 0px 5px;
  align-content: center;
  background-color: #0E0E0E;
  
  
}

.message {
  margin: 5px;
  padding: 10px;
  
  color: whitesmoke;
  border-radius: 0px 10px 10px 10px;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 14px;
  /* Adjust text size */
  line-height: 1.4;
  /* Improve text readability */
  
}


.user {
  align-self: flex-end;
  background-color: #131962;
}

.bot {
  align-self: flex-start;
  background-color: #575757;
  
}






#input-container {
  
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  background-color: floralwhite;
  
  
}
 /* Style the modal */
    .modal {
      
      display: none;
      z-index: 1;
      background-color: #fff;
      border: 1px solid #ccc;
     
      width: 300px;
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    }
    
    /* Modal Content */
    .add-content {
      padding: 20px;
    }
    
    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    
    
    
    
.option {
  background-color: #39FFB8;
  
  padding: 0px 5px 0px 5px;
  color: #FF0000;
  font-weight: 200;
  
  margin: 2px;
  border-radius: 26px;
  text-decoration: none;
  border: 1px solid #42445A;
}

     

#user-input {
  background-color: transparent;
  border: 1px solid #5E5E5E;
  width: 90%;
  height: 40px;
}

input::placeholder,
textarea::placeholder {
  color: gray;
  
  opacity: 1;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ccc;
}

button,
input[type="button"],
input[type="submit"] {
  -webkit-tap-highlight-color: transparent;
}

#send-btn {
  background-color: transparent;
  border: 1px solid #5E5E5E;
  width: 20%;
  font-weight: 1000;
  height: 40px;
}

#copyright {
  display: flex;
  justify-content: center;
  align-content: center;
}